@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bebasneue/v2/JTUSjIg69CK48gW7PXoo9Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

* {
  background-color: rgb(211, 149, 86);
}

body {
  padding: 0 10%;
}

h1 {
  font-family:'Bebas Neue';
  letter-spacing: 5px;
  font-size: 300%;
}

h1,
h2 {
  text-align: center;
}

h2 {
  font-size: 150%;
}

ul {
  padding: 3em 0;
}

li {
  font-size: 125%;
  list-style: square;
  line-height: 1.5em;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.url {
  text-decoration: none;
}

.comment {
  color: rgb(78, 77, 77);
  font-style: italic;
}
.red {
  color: rgb(190, 0, 0)
}

.punctuation {
  color:rgb(78, 77, 77);
  background-color: beige;
}

.examples-pad {
  padding: 1.5em 5% 1.5em;
  background-color: beige;
  border-left:rgb(190, 0, 0) solid 10px;
  max-width: 45%;
  margin: 0 50% 3em 0;
}

.comment,
.examples-pad p,
.examples-mar p,
.red {
  background-color: beige;
}

.examples-pad p,
.examples-mar p {
  line-height: 0.3em;
}

.right-side {
  text-align: right;
}

.examples-mar {
  padding: 1.5em 5% 1.5em;
  background-color: beige;
  border-right:rgb(0, 0, 190) solid 10px;
  max-width: 45%;
  margin: 0 0 3em 50%;
  text-align: right;
}

.coding {
  font-family: 'Roboto Mono';
}

footer {
  font-style: italic;
}